h1 {
    color:#98fd00;
    background-color:#0033cb;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size:xx-large;
    background-color: #06f1f1;
}

.p2 {
    color: white;
    background-color: #fe0066;
}
