h1 {
    color:#98fd00;
    background-color:#0033cb;
    padding: 20px;
    border: 10px solid white;
    margin:50px;
    border-radius: 50px;

}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size:xx-large;
    background-color: #06f1f1;
}

.p2 {
    color: white;
    background-color: #fe0066;
}

.buttons{
    height: 40px;
    padding: 60px;
    background-color: white;
    color: #fe0066;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 50px;
    margin-top: 10px;
}